
{# src/PHuN/PlatformBundle/Resources/views/Plugin/add_plugin.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}



{% block title %}
  Définition du schéma - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-5">
      <div class="well">
        Création de plugin
      </div>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_end(form) }} 


      </div>
{#
      {{ form_start(form2, {'attr': {'class': 'form-horizontal'}}) }}
      {# Les erreurs générales du formulaire #}
      {{ form_errors(form2) }}
        <div class="form-group">
                <ul>
                {% for plugin in arrayPlugins %}

                  <li>{{plugin.name}}</li>

                {% endfor %}
                </ul>
        <div class="form-group">

      <div class="col-md-3 col-md-offset-3">
        {#<ul>
        {% for plugins in listPlugins %}

          <li>{{plugin.name}}</li>

        {% endfor %}
        </ul>#}
      </div>

      {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
      {{ form_widget(form2.save, {'attr': {'class': 'btn btn-primary'}}) }}


      {{ form_end(form2) }}
    </div>
#}

{#
    <div class="col-md-4">
      <div class="well">
            Ajustement de l'éditeur
      </div>

    <a href="{{ path('phun_platform_plugin_creation') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Voulez vous générer le plugin ?
    </a>


      <div class="btn btn-default">
        Voulez vous ? {{ render(controller("PHuNPlatformBundle:Plugin:PluginCreation", {'id' : id})) }}
      </div>


     </div>
   </div>
#}

{% endblock %}


