{# src/PHuN/PlatformBundle/Resources/views/Plugin/add_plugin.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block title %}
  Définition du schéma - {{ parent() }}
{% endblock %}

{% block body %}

  {#<h2>{{ plugin.alt }}</h2>#}

  <div class="well">
    Création de plugin
  </div>

     <div class="col-md-6">

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

          {# Les erreurs générales du formulaire #}
          {{ form_errors(form) }}
         
          {# {{ form_rest(form) }} #}

          <div class="form-group">
              {{ form_label(form.name, "Nom de l'élément", {'label_attr': {'class': 'col-sm-3 control-label'}})}}
              <div class="col-sm-4">
                  {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
              </div>  
          </div>  


          {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
          {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}


        {{ form_end(form) }} 
 

    </div>
  </div>


{% endblock %}