
{# src/PHuN/PlatformBundle/Resources/views/Plugin/add_plugin.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}



{% block title %}
  Définition du schéma - {{ parent() }}
{% endblock %}


{% block body %}
    
{# Custom local styles #}
<style>
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 20px !important;
        font-weight: 700;
        padding-right: 10px !important;
        padding-top: 15px !important;
        
       
}

    label .required {
        border-bottom: 1px solid gray !important;
       
}

    

</style>
{# End custom local styles #}

{{ render(controller("PHuNPlatformBundle:Corpus:Header", { 'id': corpus.id } )) }}
<div id="section-content" class="row">
    <div class="col-md-9">
        <div class="well">
            Création de boutons d'éditeur
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        
        {{ form_label(form.plugins) }}
        <div class="form-group">
            
            <div class="col-sm-7" style="border-bottom: 1px">
                {{ form_widget(form.plugins, {'attr': {'class': 'form-horizontal' }} )}}
            </div>
            
        </div> 
        <div class="col-sm-7">
            {{ form_rest(form) }}
        </div>
            
        <div class="col-sm-7">    
            {{ form_end(form) }} 
        
        <br/>
        </div>
    </div>
</div>
            
{{ render(controller("PHuNPlatformBundle:Corpus:Footer", { 'id': corpus.id } )) }}              
{% endblock %}


{% block javascripts %}
    
{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}

    {{ parent() }}

  <script type="text/javascript">
    jQuery(function($) {
      // On récupère la balise <div> qui contient l'attribut « data-prototype » qui nous intéresse.
      var $container = $('div#phun_platformbundle_corpus_plugins');
      
      $container.css({ 'border': '1px', 'padding-bottom': '20px' });

      // On ajoute un lien pour ajouter une nouvelle catégorie
      var $addLink = $('<a href="#" id="add_plugin" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>Ajouter un élément</a><br/>');
      $container.append($addLink);

      // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
      $addLink.click(function(e) {
        addElement($container);
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });

      // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
      var index = $container.find(':input').length;

      // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
      if (index == 0) {
        addElement($container);
      } else {
        // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
        $container.children('div').each(function() {
          addDeleteLink($(this));
        });
      }

      // La fonction qui ajoute un formulaire Categorie
      function addElement($container) {
        // Dans le contenu de l'attribut « data-prototype », on remplace :
        // - le texte "__name__label__" qu'il contient par le label du champ
        // - le texte "__name__" qu'il contient par le numéro du champ
        var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Elément n°' + (index+1))
            .replace(/__name__/g, index));

        // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
        addDeleteLink($prototype);

        // On ajoute le prototype modifié à la fin de la balise <div>
        $container.append($prototype);

        // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
        index++;
      }

      // La fonction qui ajoute un lien de suppression d'une catégorie
      function addDeleteLink($prototype) {
        // Création du lien
        $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a><br/>');
        
        {#$deleteLink.css({'border-bottom': '1px solid gray' });#}
        // Ajout du lien
        $prototype.append($deleteLink);

        // Ajout du listener sur le clic du lien
        $deleteLink.click(function(e) {
          $prototype.remove();
          e.preventDefault(); // évite qu'un # apparaisse dans l'URL
          return false;
        });
      }
    });
  </script>
    
    
{% endblock %}