{# src/PHuN/PlatformBundle/Resources/views/Plugin/view_plugins.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block title %}
  Définition du schéma - {{ parent() }}
{% endblock %}


{% block body %}

     <!--<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
       <!-- <script type="text/javascript" src="js/jquery.shoppingList.js"></script>-->
       <!--  <script type="text/javascript" src="js/script.js"></script>-->
        <style>
          .pluginList li .item{
            cursor:pointer;
          }
          .pluginList ul{
            margin:0;
            padding:0;
            list-style:none;
            position:relative;
            padding-top:12px;
          }
          .pluginList li{
            font-size:1em;
            position:relative;
            text-shadow:none;
            clear:both;
            margin: 5px; 
            padding: 5px; 
            width: 150px;
          }
          .pluginList li .check{
            width:16px;
            height:25px;
            line-height:25px;
            float:left;
            margin-right:50px;
            cursor:pointer;
          }
          .pluginList .hover{
            opacity:0.7;
            filter : alpha(opacity=70);
            -moz-opacity : 0.7;
            color:#fff;
            background-color:#cd6a76
          }
          /*** DRAG ***/
           
          .pluginList li.ui-sortable-helper{
              cursor:-moz-grabbing;
          }
           
          .pluginList li.ui-sortable-helper .check, .pluginList li.ui-sortable-helper .count{
              visibility:hidden
          }
        </style>
        <style>
  #cart { width: 200px; float: left; margin-top: 1em; }
  /* style the list to maximize the droppable hitarea */
  #cart ol { margin: 0; padding: 1em 0 1em 3em; }
  </style>

  {#<h2>{{ plugin.alt }}</h2>#}

  {% form_theme form 'FuzAppBundle::jquery.collection.html.twig' %}
  {{ form(form) }}

  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire #}
  {{ form_errors(form) }}

  {#<div class="row">#}
    {#<div class="col-md-5">#}

     {# <div class="well">#}
       {# Les éléments disponibles#}
      {#</div>#}
      {#<div class="col-md-3 col-md-offset-3">#}
        {#<div class="form-group">#}
        
         {# <ul>#}
          {#{% for plugin in listPlugins %}#}

           {# <li>{{plugin.name}}</li>#}

          {#{% endfor %}#}
         {# </ul>#}
        {#<div class="form-group">#}

      {#</div>#}
  {#</div>#}
  <div class="row">
      <div class="well">
        Les éléments liés à ce projet
      </div>

    <div class="col-md-3">
        {#<div class="form-group">#}
          <div class="pluginList"> 
            
            <ul id="sortable">

            {% for plugin in arrayPlugins %}
                
                <li class="draggable" class="ui-state-default">{{plugin.name}}</li>
              
            {% endfor %}
            </ul>
          </div>  
        {#<div class="form-group">#}
        {#</div>#}
    </div>
    <div class="row">

      <div class="col-md-3 col-md-offset-3"><div>Toolbar</div>
          <div id="toolbar">
            <div class="ui-widget-content">
              <select>
                <option class="placeholder">Placer des éléments dans le toolbar</option>
              
              </select>
            </div>
          </div>
      </div>

      <div class="col-md-3 col-md-offset-3"><div>Menu 1</div>
          <div id="menu1">
            <div class="ui-widget-content">

              {{ form_widget(form.pluginsMenu1, {'attr': {'class':''}}) }}
              <ol>
                <li class="placeholder">Placer des éléments dans Menu 1</li>
              </ol>
            </div>
          </div>
      </div>

      <div class="col-md-3 col-md-offset-3"><div>Menu 2</div>
          <div id="menu2">
            <div class="ui-widget-content">
              <ol>
                <li class="placeholder">Placer des éléments dans le Menu 2</li>
              </ol>
            </div>
          </div>
      </div>
    </div>
  </div>

  {#<div class="form-group">
    {{ form_label(form.name, "Nom de l'élément", {'label_attr': {'class': 'col-sm-3 control-label'}})}}
    <div class="col-sm-4">
      {{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
    </div>  
  </div>#}

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
  
  {{ form_end(form) }} 
    



{% endblock %}

{% block javascripts %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="{{ asset('js/jquery-ui-1.11.4.custom/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/symfony-collection-master/jquery.collection.js') }}"></script>

        <script type="text/javascript">
            $('.my-selector').collection();
        </script>
    
        <script>
        $(function() {

          $( "#sortable" ).sortable({
            
            revert: true
          });
          $( ".draggable" ).draggable({
            connectToSortable: "#sortable",
            appendTo:"body",
            helper: "original",
            revert: "invalid",
            zIndex: 100
          });

          $( "select, option" ).disableSelection();
          $( "#toolbar select" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
              $( "<option></option>" ).text( ui.draggable.text() ).appendTo( this );
              $(ui.helper).remove(); //destroy clone
              $(ui.draggable).remove(); //remove from list

              $( this ).find( ".placeholder" ).remove(); 

              deleteMe = true; 
              
            }
          }).sortable({
            items: "option:not(.placeholder)",
            sort: function() {
              // gets added unintentionally by droppable interacting with sortable
              // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
              $( this ).removeClass( "ui-state-default" );
            }
          });
          $( "#menu1 ol" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
              $( this ).find( ".placeholder" ).remove();
              $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );

              
            }
          }).sortable({
            items: "li:not(.placeholder)",
            sort: function() {
              // gets added unintentionally by droppable interacting with sortable
              // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
              $( this ).removeClass( "ui-state-default" );
            }
          });
          $( "#menu2 ol" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
              $( this ).find( ".placeholder" ).remove();
              $( "<li></li>" ).text( ui.draggable.text() ).appendTo( this );
            }
          }).sortable({
            items: "li:not(.placeholder)",
            sort: function() {
              // gets added unintentionally by droppable interacting with sortable
              // using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
              $( this ).removeClass( "ui-state-default" );
            }
          });
        });
        </script>
{% endblock %}