{# src/PHuN/PlatformBundle/Resources/views/Corpus/contributors.html.twig #}
{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
   {# <link rel="stylesheet" href="{{ asset(urlCSS) }}" type="text/css" />#}
   {# Main style sheet for page browser view #}    
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/page_styles.css') }}" type="text/css" />
    {{ google_map_css(map) }}
{% endblock %}


{% block body %}

<div class="row">
{{ render(controller("PHuNPlatformBundle:Corpus:Header", { 'id': corpus.id } )) }}

<ul class="nav nav-tabs nav-justified"> 
    <li role="presentation"><a href="{{ path('page_browser_count', {'corpusId': corpusId }) }}">Toutes les pages du corpus</a></li>
{#    <li role="presentation"><a href="{{ path('transcription_browser', {'id': corpusId }) }}">Transcriptions en cours</a>#}
    <li role="presentation"><a href="{{ path('transcriptions_in_revision', {'corpusId': corpusId }) }}">Pages à relire</a>
    <li role="presentation"><a href="{{ path('phun_project_description',{'id': corpusId }) }}">Description du projet</a>
    <li role="presentation" class="active"><a href="{{ path('phun_project_contributors',{'id': corpusId }) }}">Ont contribué</a>
    
</ul>
    
        <div id="section-content" class="row">
                
                <h2>Ont contribué </h2>
                <div id="map_canvas" {#style="width:512px;height:512px"#}>
                {{ google_map_container(map) }}
                
                
                
                
                </div>
                
                {#<h4>
                    Transcrivez une page pour rajouter votre nom à la liste !
                </h4>#}
                                
                    {% if listUsers is not null %}
                        
                        {%for user in listUsers %}
                            
                                <div class="col-md-3">
                                    <div class="grid">
                                        <figure class="contributor-image">
                                            <img class="cnt-image" src="{{ asset(user.avatar.url) }}">
                                            
                                            <figcaption>
                                                <h5>{{ user.username }}</h5>
                                                <p class="status">{{user.lastLogin|date('d/m/y')}}</p>
                                                {% if user.nbContributions == 1 %}
                                                    <p class="status"> {{ user.nbContributions }} Contribution </p>
                                                {% else %}
                                                    <p class="status"> {{ user.nbContributions }} Contributions </p>
                                                {% endif %}
                                            </figcaption>    
                                        </figure>      
                                    </div>
                                </div>
                                    
                        {% endfor %}
                                    
                                            
                                        
                    {% else %}
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <h5>
                                Pas encore de contributeurs pour ce projet. <br/><br/>
                                Transcrivez une page pour le lancer !
                                </h5>
                            </div>
                        </div>    
                    {% endif %}    
                                
            </div>
     

    {{ render(controller("PHuNPlatformBundle:Corpus:Footer", { 'id': corpus.id } )) }} 
</div>

{% endblock %}

{% block javascripts %}
    {#
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBv2w1DSXxP8zGFONLO_0SKVr5K2IPiyXE=false"></script>
      #}
    {{ google_map_js(map) }}
    
  
    

{% endblock %} 
