{# src/PHuN/PlatformBundle/Resources/views/Corpus/description.html.twig #}
{% extends "PHuNPlatformBundle::layout.html.twig" %}

{% block body %}
<style>
    .corpus-presentation {
        height: 400px;
        overflow:auto;
        {#width: 350px;#}
    }
    .corpus-presentation > ul > li {
        list-style: none;
    }
    
</style>

{{ render(controller("PHuNPlatformBundle:Corpus:Header", { 'id': corpus.id } )) }}
<div class="row">


<ul class="nav nav-tabs nav-justified"> 
    <li role="presentation"><a href="{{ path('page_browser_count', {'corpusId': corpusId }) }}">Toutes les pages du corpus</a></li>
    {#<li role="presentation"><a href="{{ path('transcription_browser', {'id': corpusId }) }}">Transcriptions en cours</a>#}
    <li role="presentation"><a href="{{ path('transcriptions_in_revision', {'corpusId': corpusId }) }}">Pages à relire</a>
    <li role="presentation" class="active"><a href="{{ path('phun_project_description',{'id': corpusId }) }}">Description du projet</a>
    <li role="presentation"><a href="{{ path('phun_project_contributors',{'id': corpusId }) }}">Ont Contribué</a>
    
</ul>
    
        <div id="section-content" class="row">
            {#<div class="row">
                <a href="{{ path('phun_protocol')}}">Protocole du projet</a>
            </div>#}        
                
                      

            <div class="col-md-8">
                <h2>Description</h2>
                {{ corpus.description|raw('html') }}
                           
            </div>
                            
                
        
        </div>    


</div>
{{ render(controller("PHuNPlatformBundle:Corpus:Footer", { 'id': corpus.id } )) }} 

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %} 
