{# src/PHuN/PlatformBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PHuN Plateforme{% endblock %}</title>

    {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" type="text/css" />
    {% endblock %}
  </head>
  <body>
  <div class="container">
  	<div id="header" class="jumbotron">
      <h1>PHuN plateforme de transcription</h1>
      <p>
        Participer au projet collaboratif de transcription de manuscrits. Créez votre projet !
      </p>
    </div>
    {# Début du navbar de navigation #}
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display  style='background-color: #FF9933;' style='background-color: #CCCCCC;', #ffcc66-->
    <div class="navbar-header" style='background-color: #ffcc66;'>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="{{ asset('logo_5.png') }}"/>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('phun_platform_home') }}">Accueil <span class="sr-only">(current)</span></a></li>

      </ul>
      <ul class="nav navbar-nav">
        <li><a href="{{ path('phun_platform_how') }}">À Propos</a></li>
      </ul>
      {#<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>#}
      <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Forum</a></li>   
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('phun_platform_home') }}">Participer à un projet existant</a></li>
            <li><a href="{{ path('phun_platform_contact') }}">Créer un projet</a></li>
            {% if is_granted('ROLE_ADMIN') %}
              <li><a href="{{ path('phun_platform_add_corpus') }}">Depôser un corpus</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="#">Autre Action</a></li>
          </ul> 
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="active"><a href="#">{{ app.user.username }}</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            {% endif %}

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{# Fin du navbar de navigation #}
    <div id="row">	
	  	<div id="menu" class="col-md-3">

	  		<h3>Les Images</h3>
	        <ul class="nav nav-pills nav-stacked">
          
	            <li><a href="{{ path('phun_platform_home') }}">Accueil</a></li>
              <li><a href="{{ path('phun_platform_view_all') }}">Voir les corpus</a></li>
            {% if is_granted('ROLE_AUTEUR') %}
            {% endif %}
	        </ul>

	        <h4> Dernières transcriptions </h4>	
	      	{{ render(controller("PHuNPlatformBundle:Page:menu", {'limit': 3})) }}
	    </div>


	    <div id="content" class="col-md-9">

		    {% block body %}

		    {% endblock %}
		</div>    


		<hr>

		<footer>
			<p>Projet open source pour les experts et amateurs de littérature {{ 'now'|date('Y') }}</p>
		</footer>	
  </div>
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}  





  
  </body>
</html>