{# src/PHuN/PlatformBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}PHuN Plateforme{% endblock %}</title>


       {% block stylesheets %}

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/bazel/assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/bazel/assets/js/bootstrap.min.js') }}">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/bazel/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/bazel/fonts.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/framework/css/body.css') }}" type="text/css" />
        {% endblock %}
    </head>
  <body>
   
{# Début du navbar de navigation #}
    
{#  <div id="main-navbar" class="navbar-fixed-top">#}
<div id="main-container">
  <nav id="common-nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display  style='background-color: #FF9933;' style='background-color: #CCCCCC;', #ffcc66, #ff9933-->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        {#<img src="{{ asset('logo_5.png') }}" height="50"/>#}
        <ul class="nav navbar-nav">
            <li class="phun-logo"><a href="{{ path('phun_platform_home') }}">PHuN2.0</a></li>

        </ul>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="{{ path('phun_platform_home') }}">Accueil</a></li>

      </ul>
      <ul class="nav navbar-nav">
        <li><a href="{{ path('phun_platform_how') }}">À Propos</a></li>
      </ul>
      {#<form class="navbar-form navbar-left">
          <div class="form-group">
            {{ render(controller("PHuNPlatformBundle:Search:Menu")) }}
          </div>
      </form>#}
        {#<form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" size="10" id="searchBar" value="Recherche..." />
            </div>
            <button type="submit" class="glyphicon glyphicon-search" id="searchBt" value="Submit"></button>
        </form> #}   
      {#<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="searchBar" type="text" class="form-control" placeholder="Rechercher ..." value="">
        </div>
          <button id="searchBt" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </form>#}
      <ul class="nav navbar-nav navbar-right">
            {#{% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('phun_platform_admin') }}">Admin</a></li>
            {% endif %}#}
        <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projets <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {{ render(controller("PHuNPlatformBundle:Page:corpusList")) }}
                    
                </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('phun_platform_home') }}">Participer à un projet existant</a></li>
            <li><a href="{{ path('phun_platform_contact') }}">Prendre contact avec l'équipe</a></li>
            {% if is_granted('ROLE_ADMIN') %}
              {#<li><a href="{{ path('admin_all_transcriptions', { 'userId': app.user.id }, { 'corpusId': app.corpus.id }) }}">Voir les transcriptions du projet</a></li>#}
              <li><a href="{{ path('phun_platform_add_corpus') }}">Créer un projet</a></li>
            {% endif %}
            {#<li role="separator" class="divider"></li>
            <li><a href="#">Autre</a></li>#}
          </ul> 
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown"><a href="{{ path('user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ path('fos_user_profile_show') }}"><i class="glyphicon glyphicon-user"></i>Mon Profil</a></li>
                  <li><a href="{{ path('show_user_transcriptions')}}">
        		<i class="glyphicon glyphicon-edit"></i>
        		Voir mes transcriptions
                      </a>
                  </li>
                  </ul>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Déconnexion</a></li>
        {% else %}
                <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-plus"></i>Inscription</a></li>
        {% endif %}

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{#</div>#}
{# Fin du navbar de navigation #}
 
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
      

    {% if is_granted('ROLE_ADMIN') %}
        <div id="admin-menu">
            {{ render(controller("PHuNPlatformBundle:User:adminMenu")) }} 
        </div>
        <div id="main-content">
            {% if currentPath == path('phun_platform_home') %}
                <div id="main-header">
                {% include "PHuNPlatformBundle:Page:header.html.twig" %} 
                </div>
            {% endif %}
            <a data-target="{{ currentPath }}" data-toggle="#main-container" id="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>

            </a>
        </div>
            
    {% else %}
        <div id="main-content">
            {% if currentPath == path('phun_platform_home') %}
                <div id="main-header">
                    {% include "PHuNPlatformBundle:Page:header.html.twig" %} 
                </div>
            {% endif %}
        </div>

    {% endif %}
  
        {% block body %}
            {# calls index sections #} 
        {% endblock %}


<div class="landing-feature-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1></h1>
        <p class="lead"></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="landing-feature-2"></div>

</div>
        
<div id="main-footer" class="footer">
     <div class="col-xs-2">
         <a href=""><img src="{{ asset('logos/logo-uga.png') }}" style="width:100%"/></a><br/><br/>
         <a href=""><img src="{{ asset('logos/logo-arc5.png') }}" style="width:100%"/></a>
     </div>
     <div class="col-xs-2">
         <a href="{{ path('phun_platform_how') }}">À Propos</a><br/>
         <a href="{{ path('phun_platform_contact') }}">Contactez-nous</a><br/>
         <a href=""></a>
     </div>
    <div class="col-xs-8"> 
        
          <span style='font-size:9pt;'>Projet pour les experts et amateurs de littérature </span>
          <span style='font-size:9pt;'>Anne Vikhrova &copy; {{ 'now'|date('Y') }}</span>
          <span style='font-size:9pt;'><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:5" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</span>
          <span style='font-size:9pt;'>It was carried out with the aid of an <a href="http://www.arc5-cultures.rhonealpes.fr/theses-et-projets/les-theses-de-larc-5/theses-2014/">ARC 5 2014</a> research grant for the Rhône-Alpes region, France</span>
        
    </div>      
      
 </div> 
 
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
    <script src="{{ asset('bundles/framework/css/bootstrap/js/bootstrap-transition.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bundles/framework/css/bootstrap/js/bootstrap-modal.js') }}" type="text/javascript" ></script>
    
    <script type='text/javascript'>
      $('.carousel').carousel({
        interval: 8000
      })
    </script>
    
   
    <script type='text/javascript'>
        
            
        $(document).ready(function() {
            $("a[data-toggle]").click(function() {
              var toggle_el = $(this).data("toggle");
              $(toggle_el).toggleClass("open-sidebar");
            });
        });
      
        
        
    </script>
{% endblock %} 

  
  </body>
</html>