{# src/PHuN/PlatformBundle/Resources/views/Revision/viewRevision.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block title %}
  Affichage d'une page - {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset(urlCSS) }}" type="text/css" />
{% endblock %}

{% block body %}
    {{ render(controller("PHuNPlatformBundle:Corpus:Header", { 'id': corpus.id } )) }}

    {% if transcription.page.sousDossier.name is same as("unnamed")  %}
        <h3>
            Catalogue {{ transcription.page.sousDossier.dossier.catalogue.name}}, Dossier {{ transcription.page.sousDossier.dossier.name }}, Page {{ transcription.page.alt }}
        </h3>
    {% else %}
        <h3>
            Catalogue {{ transcription.page.sousDossier.dossier.catalogue.name}}, Dossier {{ transcription.page.sousDossier.dossier.name }}, Chemise {{ transcription.page.sousDossier.name }}, Page {{ transcription.page.alt }}
        </h3>
    {% endif %}

        

  <div class="row">
    <div class="col-md-6">
      {% if transcription.page.urlImg is not null %}
        <img src="{{ asset(transcription.page.urlImg) }}" id="zoom_05" alt="{{ transcription.page.alt }}" height="100%" width="100%" data-zoom-image="{{ asset(transcription.page.urlImg) }}" >
    {% endif %} 
    </div>

     <div class="col-md-6">
    {% if transcription.page.urlXml is not null %}
      <div id="frame" class="frame" >
      {{ transcription.content|raw('html') }}
      </div>
      {#
      <iframe id="frame" src="{{ asset(transcription.urlXml) }}" alt="{{ transcription.page.alt }}" height="520" width="100%"></iframe>
      #}
    {% endif %}
    </div>
  </div>
 



  <p>
      <div class="row">
        <div class="col-md-6">
          {#<a href="{{ path('phun_platform_view', {'id': transcription.page.id-1}) }}" class="btn btn-default">
                page précédente
          </a>

          <a href="{{ path('phun_platform_view', {'id': transcription.page.id+1}) }}" class="btn btn-default">
                page suivante 
          </a>#}
        </div>
        <div class="col-md-6">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {#<a href="{{ path('phun_platform_revision_edit', {'id': transcription.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Editer la transcription
          </a> 
          <a href="{{ path('transcription_confirm', {'id': transcription.id, 'corpusId': transcription.page.corpus.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i>
            Confirmer la relecture
          </a>#}  
          <a href="{{ path('phun_verify_user', {'id': transcription.id, 'corpusId': transcription.page.corpus.id, 'confirm': "false"}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Editer la transcription
          </a> 
          <a href="{{ path('phun_verify_user', {'id': transcription.id, 'corpusId': transcription.page.corpus.id, 'confirm': "true" }) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i>
            Confirmer la relecture
          </a>
          {% else %}
          <a href="{{ path('fos_user_security_login', {'id': transcription.page.id}) }}" class="btn btn-info">
            <i class="glyphicon glyphicon-edit"></i>
            Editer la transcription
          </a>
          <a href="{{ path('fos_user_security_login', {'id': transcription.page.id, 'corpusId': transcription.page.corpus.id}) }}" class="btn btn-success">
            <i class="glyphicon glyphicon-ok"></i>
            Confirmer la relecture
          </a>  
          {% endif %}
           
        </div>
        {# Option for super user admin #}
        {% if is_granted("ROLE_SUPER_ADMIN")%}
        <div class="col-md-6">
          <a href="{{ path('phun_platform_transcription_list', {'id': transcription.page.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Liste de transcriptions pour cette page
          </a> 
        </div>
        {% else %}    
        {% endif %}
        
      </div> 
  </p>
  <div class="row"> 
            {% if listUsers is not null %}
                <div class ="row">
                <div class="panel panel-default">
                <div class="panel-body">    
                <div class="col-md-4 col-md-offset-3">
                        <h4>Contributions de </h4>
                </div>    
                    
                {% for user in listUsers %}
                    <div class="col-md-4 col-md-offset-3">
                        <div class="comment-user-profile">
                            <img class="cnt-image" src="{{ asset(user.avatar.url) }}" height="50" width="50">
                                {{ user.username }} <br/>
                        </div>
                    </div>
                {% endfor %}
                
                {% if r1 is not null %}
                <div class="col-md-4 col-md-offset-3">
                        <h4>Relectures de </h4>
                </div>
                    <div class="col-md-4 col-md-offset-3">
                        <div class="comment-user-profile">
                            <img class="cnt-image" src="{{ asset(r1.avatar.url) }}" height="50" width="50">
                                {{ r1.username }} <br/>
                        </div>
                    </div>
                {% endif %}
                {% if r2 is not null %}
                    <div class="col-md-4 col-md-offset-3">
                        <div class="comment-user-profile">
                            <img class="cnt-image" src="{{ asset(r2.avatar.url) }}" height="50" width="50">
                                {{ r2.username }} <br/>
                        </div>
                    </div>
                {% endif %}
                {% if r3 is not null %}
                    <div class="col-md-4 col-md-offset-3">
                        <div class="comment-user-profile">
                            <img class="cnt-image" src="{{ asset(r3.avatar.url) }}" height="50" width="50">
                                {{ r3.username }} <br/>
                        </div>
                    </div>
                {% endif %}
                </div>
                </div>
                </div>
            {% endif %}    
     
  </div>  
  
{{ render(controller("PHuNPlatformBundle:Corpus:Footer", { 'id': corpus.id } )) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type = "text/javascript" src = "{{ asset('http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js') }}"></script>
<script type="text/javascript">
    $("#zoom_05").ezPlus({
        zoomType: 'inner',
        cursor: 'crosshair',
        lensBorder : 0,
        borderSize : 0.5,
        zoomSize : 200,
        scrollZoom: true,
        easing: false,
        responsive : true
        

      });
</script>

{#
  <script>
    var cssLink = document.createElement("link");
    cssLink.setAttribute("href", "{{ urlCSS }}");

    var doc = document.getElementById("frame").contentWindow.document;

    doc.head.appendChild(cssLink);

    //Doc = document.getElementById("frame");
    //Doc.head.appendChild(link);
    doc.body.appendChild({{ transcription.content|raw('html') }});
  </script>
#}



{% endblock %}