{# src/PHuN/PlatformBundle/Resources/views/Page/view.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block title %}
  Affichage d'une page - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>{{ page.alt }}</h2>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ page.corpus.name }}
      </h3>
    </div>
    <div class="panel-body">
    </div>  
  </div>


  <div class="row">
    <div class="col-md-6">
      {% if page.urlImg is not null %}
        <img src="{{ asset(page.urlImg) }}" id="zoom_04" alt="{{ page.alt }}" height="100%" width="100%" data-zoom-image="{{ page.urlImg }}" >
    {% endif %} 
    </div>

     <div class="col-md-6">
     <table class="table table-striped">
       <thead>
        <tr>
          {#<th>Date</th>#}
          <th>Id Page - Id Transcription</th>
          <th>Sélectionné</th>
        </tr>
      </thead>
    {% if page.id is not null %}
      {% for transcription in listTranscriptions %}
      <tr>
        {#<th scope="row">{{transcription.date}}</th>#}
        <td>
          <a href="{{ path('phun_platform_transcription_view', {'id': transcription.id}) }}"> {{transcription.page.id}} - {{transcription.id}}</a>
        </td>
        <td>  
          <input type="checkbox" name = "chk" class="transcription-selection-id" value="{{ transcription.id }}" id="{{ transcription.id }}"/>
        </td>  
      </tr>  
      {% endfor %}
    {% endif %}
    </table>
  
    </div>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} 
       <a href="#" id="selection" class="btn btn-default">
        <i class="glyphicon glyphicon-transfer"></i>
        Comparer deux transcriptions
      </a>
      {% else %}
      <a href="{{ path('fos_user_security_login', {'id': page.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-transfer"></i>
        Comparer deux transcriptions
      </a>
  {% endif %}
  
  </div>


 



  <p>

      <a href="{{ path('phun_platform_view', {'id': page.id-1}) }}" class="btn btn-default">
            page précédente
      </a>

      <a href="{{ path('phun_platform_view', {'id': page.id+1}) }}" class="btn btn-default">
            page suivante 
      </a>

      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <a href="{{ path('phun_platform_edit', {'id': page.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Transcrire la page
      </a> 
      {% else %}
      <a href="{{ path('fos_user_security_login', {'id': page.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Transcrire la page
      </a>
      {% endif %}
  </p>




{% endblock %}
{% block javascripts %}   
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
  <script type="text/javascript">
    $("#zoom_04").ezPlus({
        zoomWindowWidth: 445,
        zoomWindowHeight: 100,
        scrollZoom: true,
        easing: true,
        zoomWindowPosition: 13,
      });
  </script>

<script type = "text/javascript" src = "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>
<script type="text/javascript">
    var selected = []; 

    $("#selection").live("click", function () {
        $("input:checkbox[name=chk]:checked").each(function () {
            
            selected.push($(this).attr('id'));
        });
    
            id1 = selected[0] ;  
            id2 = selected[1] ; 

        var url = '{{ path('phun_platform_compare', {'id1': 'id_1', 'id2': 'id_2' }) }}';
        url = url.replace("id_1", id1);
        url = url.replace("id_2", id2);

        document.getElementById("selection").href = url;
        //alert(url);   
       
    });

</script>
 {% endblock %} 