{# src/PHuN/PlatformBundle/Resources/views/Page/view.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}


{% block title %}
  Affichage d'une page - {{ parent() }}
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
    <link rel="stylesheet" href="{{ asset(urlCSS) }}" type="text/css" />

{% endblock %}

{% block body %}
    {#<style>
      .zoomWindowContainer {
        position:fixed;
        top : 230px;
      }
    </style>#}


  {{ render(controller("PHuNPlatformBundle:Corpus:Header", { 'id': corpus.id } )) }}
  
  
        {% if page.sousDossier.name is same as("unnamed")  %}
            <h3>
                Catalogue {{ page.sousDossier.dossier.catalogue.name}}, Dossier {{ page.sousDossier.dossier.name }}, Page {{ page.alt }}
            </h3>
        {% else %}
            <h3>
                Catalogue {{ page.sousDossier.dossier.catalogue.name}}, Dossier {{ page.sousDossier.dossier.name }}, Chemise {{ page.sousDossier.name }}, Page {{ page.alt }}
            </h3>
        {% endif %}
        
        
        
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")== true  and page.published == true %}
            <h3> Cette page a été relue, validée et publiée. </h3>
        {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED")== false and page.published == true %}
            <h3> Vous n'êtes pas connectés. Cette page a été relue, validée et publiée. </h3>

        {% endif %}
        
        
    
    <div class="row">
        <div class="col-md-6">
          {% if page.urlImg is not null %}
            <img src="{{ asset(page.urlImg) }}" id="zoom_05" alt="{{ page.alt }}" height="100%" width="100%" data-zoom-image="{{ asset(page.urlImg) }}" >
          {% endif %} 
        </div>
        
        
        <div class="col-md-6">
        {% if page.urlXml is not null %}
          <iframe id="frame" class="frame" src="{{ asset( urlXml ) }}" alt="{{ page.alt }}" ></iframe>
        {% endif %}
        </div>
    </div>
 



<p>
    <div class="row">
        <div class="col-md-6">

            {#<a href="{{ path('phun_platform_view', {'id': page.id-1}) }}" class="btn btn-default">
                  page précédente
            </a>

            <a href="{{ path('phun_platform_view', {'id': page.id+1}) }}" class="btn btn-default">
                  page suivante 
            </a>#}
        </div>
                 
        <div class="col-md-6">       

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")== true and page.published == false%}  

                <a href="{{ path('phun_platform_edit', {'id': page.id}) }}" class="btn btn-success">
                  <i class="glyphicon glyphicon-edit"></i>
                  Transcrire la page
                </a>
            {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED")== false and page.published == false %} 
                <a href="{{ path('fos_user_security_login', {'id': page.id}) }}" class="btn btn-success">
                    <i class="glyphicon glyphicon-edit"></i>
                    Transcrire la page
                </a>
            {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED")== true  and page.published == true %}
                <h5></h5>
            {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED")== false and page.published == true %}
                <h5></h5>$
            {% endif %} 
        </div>
     
    
        {% if is_granted("ROLE_SUPER_ADMIN")%}
          <div class="col-md-4 col-md-offset-3">
            <a href="{{ path('phun_platform_transcription_list', {'id': page.id}) }}" class="btn btn-default">
              <i class="glyphicon glyphicon-edit"></i>
              Liste des transcriptions pour cette page
            </a> 
          </div>
        {% endif %}
        
    </div>

</p>
    
{#  <div class="row"> 
    {% if listUsers is not null %}
        <div class ="row">
        <div class="panel panel-default">
        <div class="panel-body">    
        <div class="col-md-4 col-md-offset-3">
                <h4>Contributions de </h4>
        </div>    

        {% for user in listUsers %}
            <div class="col-md-4 col-md-offset-3">
                <div class="comment-user-profile">
                    <img class="cnt-image" src="{{ asset(user.avatar.url) }}" height="50" width="50">
                        {{ user.username }} <br/>
                </div>
            </div>
        {% endfor %}
        
        </div>
        </div>
        </div>
    {% endif %}    
     
  </div> #}

{{ render(controller("PHuNPlatformBundle:Corpus:Footer", { 'id': corpus.id } )) }}
  
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type = "text/javascript" src = "{{ asset('http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js') }}"></script>
<script type="text/javascript">
    $("#zoom_05").ezPlus({
        zoomType: 'inner',
        cursor: 'crosshair',
        lensBorder : 0,
        borderSize : 0.5,
        zoomSize : 200,
        scrollZoom: true,
        easing: false,
        responsive : true
        

      });
</script>

{% endblock %} 

 