{# src/PHuN/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "PHuNPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index
{% endblock %}

{% block body %}
	<h2> Liste des annonces </h2>

	<ul>
		{% for advert in listAdverts %}
			<li>
				<a href="{{ path('phun_platform_view', {'id': advert.id}) }}">
					{{ advert.title }}
				</a>
				
				par {{ advert.author }},
				le {{ advert.date|date('d/m/Y') }}
			</li>
			
			{% else %}
				<li> Pas (encore !) d'annonces </li>
			{% endfor %}
	</ul>					

{% endblock %}