{% extends "PHuNPlatformBundle:PageBrowser:browserView.html.twig" %}

{% block body %}

{#<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Choisir une page</h3>
      </div>
      <div class="panel-body">
        <a href="#" id="random" class="btn btn-default" >
        <i class="glyphicon glyphicon-random"></i>
        Propose-moi une page au hasard
      </a>
      </div>
</div>#}

<div class="col-md-4"> 
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sélectionner un catalogue</h3>
      </div>
      <div class="panel-body"> 
			<div class="row"> 
			</div> 
			<div class="row"> 
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            <div class="form-group">
                                {{ form_label(form.name, "Catalogue", {'label_attr': {'class': 'col-sm-5 control-label'}})}}
                                <div class="col-sm-7">
                                    {{ form_widget(form.name) }}
                                </div>  
                            </div>
                            <div class="col-md-2">      
                                {{ form_widget(form.select, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                            {{ form_end(form) }} 
			</div>
	</div>
</div>  
</div> 

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
        var listPages = [];
        $("input:checkbox[name=chk]").each(function () {
            
            listPages.push($(this).attr('id'));
        });
          $("#random").live("click", function () {
              //var listPages = document.getElementsByTagName("p").id;
              //var myarray= new Array("item1","item2","item3");
              var random = listPages[Math.floor(Math.random() * listPages.length)];
              //alert(random);
              var url = '{{ path('phun_platform_view', {'id': 'page_id'}) }}';
              url = url.replace("page_id", random);
              document.getElementById("random").href = url;
        });
</script>
 {% endblock %}